[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "linux/fcitx"]
	path = linux/fcitx
	url = https://github.com/vim-scripts/fcitx.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "doc/nerdcommenter"]
	path = doc/nerdcommenter
	url = https://github.com/vimcn/NERD_commenter.git
[submodule "doc/nerdtree"]
	path = doc/nerdtree
	url = https://github.com/vimcn/NERD_tree.vim.git
[submodule "doc/snipmate"]
	path = doc/snipmate
	url = https://github.com/vimcn/snipMate.vim.git
[submodule "doc/taglist"]
	path = doc/taglist
	url = https://github.com/vimcn/taglist.vim.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/xptemplate"]
	path = bundle/xptemplate
	url = git@github.com:vim-scripts/xptemplate.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = git@github.com:fholgado/minibufexpl.vim.git
[submodule "bundle/colorv"]
	path = bundle/colorv
	url = git@github.com:Rykka/colorv.vim.git
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "bundle/colors-jellybeans"]
	path = bundle/colors-jellybeans
	url = git@github.com:nanotech/jellybeans.vim.git
[submodule "bundle/colors-harlequin"]
	path = bundle/colors-harlequin
	url = git@github.com:nielsmadan/harlequin.git
